.skills{
  position: relative;
  margin: 50px 0;
  text-align: center;
}

.skills h2{
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 800;
  z-index: 2;
}
.skills h2::before{
  content: '';
  position: absolute;
  top: -3px;
  left: -15px;
  width: 55px;
  height: 55px;
  background-color: rgba(69, 158, 84, 0.692);
  border-radius: 50%;
  z-index: -1;
}
.skills_description{
  text-align: left;
  display: grid;
  grid-template-areas: 'hard education'
                       'hard soft';
}
.hard_skills{
  grid-area: hard;
  margin-right: 70px;
}
.education{
  grid-area: education;
  margin-bottom: 30px;
}
.soft_skills{
  grid-area: soft;
}
.hard_skills h3,
.education h3,
.soft_skills h3{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
}
.hard_skills li,
.education p,
.soft_skills li{
  line-height: 35px;
  font-size: 18px;
  color:rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 678px){
  .skills h2{
    font-size: 30px;
  }
  .hard_skills h3,
.education h3,
.soft_skills h3{
  margin-bottom: 15px;
}
  .skills_description{
    text-align: left;
    display: block;
  }
  .hard_skills li,
  .education p,
  .soft_skills li{
  font-size: 20px;
}
.hard_skills{
  margin-right: 0;
  margin-bottom: 25px;
}
}
